{% load static %}
{% include 'blog/includes/header.html' %}

<title>Mohit Sai Aravind</title>

<link rel = "icon" href =  
"https://raw.githubusercontent.com/mohith01/imageres/main/iconlogo.png?token=AKHKSA7EY47EF3SX6VKC7ZC72HJBG" 
        type = "image/x-icon"> 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.3.0/dist/css/glide.core.min.css">
<script src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
<script src="https://unpkg.com/ityped@1.0.3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="gradient">
<div class="head1">
    <h3 class="animate__animated animate__fadeInLeft animate__delay-0.8s">Hey , This is </h3>
<h2 class="animate__animated animate__delay-1s animate__fadeIn animate_slow" style="font-size:3.6em;text-align: center;font-weight:bolder;">Mohit Sai Aravind N</h2>
<span id="ityped" class="ityped"></span>


</div>

</div>
<div style="text-align:center;padding:50 100;">
 <button type="button" class="waves-effect waves-light btn-large grey"><a class="shake-slow shake-constant shake-constant--hover coler" href="">Download resume <i class="fa fa-download" aria-hidden="true"></i>
 </a> </button>
 <br>
 <br>
 <a href="#about" type="button" class="shake-little shake-constant shake-constant--hover"><i class="fa fa-chevron-down downbtn" aria-hidden="true">

 </i></a>
</div>
<div id="about" >
    <br>
    <br>
<center><span><h1 style="font-size:2.5em" data-aos="flip-left">About me</h1></span></center>
<br>
<div class="container1" > 
<p class="lead" data-aos="zoom-in" data-aos-duration="2000">
    Hey! My name is Mohit and I am a Student
    pursuing my UG from Vellore Institute of Technology
    Chennai.Do check out my blog.I am always open to 
    interesting proposals and collaborations
    <br>
    My Intrests lie in the field of AI, Deep Learning
    and web-dev. When I am not coding , you can find me
    playing chess or listening to music.
    <br>
    <br>
    Feel free to check me out on these platforms.
</p>
<div id="share" data-aos="zoom-in" data-aos-duration="3000">
    <a class="github" href="https://github.com/mohith01" target="blank"><i class="fa fa-github"></i></a>
    <a class="linkedin" href="https://www.linkedin.com/in/mohit-sai-aravind-1a37a9145/" target="blank"><i class="fa fa-linkedin"></i></a>
    <a class="facebook" href="https://www.facebook.com/mohith01" target="blank"><i class="fa fa-facebook"></i></a>
    <a class="googleplus" data-tooltip="mail2mohith01@gmail.com" href="mailto:mail2venkat21@gmail.com " target="blank"><i class="fa fa-envelope"></i></a>
    <a class="instagram" href="https://www.instagram.com/m0hi7s4i/" target="blank"><i class="fa fa-instagram"></i></a>
</div>
</div>

<!-- Projects section over -->
<div id="education" >
    <br>
    <br>
<center><span><h1  style="font-size:2.5em">Education</h1></span></center>
<div class="container1" data-aos="zoom-in">
    <div class="timeline">
        <div class="timeline-container1 timeline-left1" >
          <div class="timeline-content1 ">
            <h2 style="font-size:1.5em">2008-2016</h2>
            <p><b>DAV Public School - Velachery<br></b>
               10/10 Cgpa 10th Boards
            </p>
          </div>
        </div>
        <div class="timeline-container1 timeline-right1">
          <div class="timeline-content1">
            <h2 style="font-size:1.5em">2016-2018</h2>
            <p><b>Maharishi International Residential School -Kanchipuram<br></b>
              435/500 in 12th Boards
            </p>
          </div>
        </div>
        <div class="timeline-container1 timeline-left1">
          <div class="timeline-content1">
            <h2 style="font-size:1.5em">2018-Present</h2>
            <p><b>Vellore Institute of Technology - Chennai<br></b>
            Current GPA -8.31
            </p>
          </div>
        </div>
      </div>

</div>
</div>
<!-- timeline section over -->

</div>
<div id="project" >
    <br>
    <br>
<center><span><h1  style="font-size:2.5em">My Projects</h1></span></center>
<div class="container1">
    <p class="lead" style="text-align:center;">
        Here are some of my projects i have worked on
    </p>
<div class="container2">
<div class="glide" >
    <div class="glide__track" data-glide-el="track">
       
      <ul class="glide__slides ">
        
{% for int in list %}
<li class="glide__slide ">

    
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ int.Image.url }}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-3">{{ int.Title }}<i class="material-icons right">more_vert</i></span>
          <p> {{ int.Shortdesc | safe }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-2">{{ int.Title }}<i class="material-icons right">close</i></span>
          <p>{{ int.Description | safe}}</p>
        </div>
      </div>

</li>
{% endfor %}

</ul>

</div>
</div>
</div>
</div>
</div>
<!-- project section over -->
<br>

<!-- Footer -->
{% include 'blog/includes/footer.html' %}
  <!-- Footer -->
<style>
.ftr{
    color:#372b50;
}
.glide__slide .card{
    max-width:400;
    height:350px;
    box-shadow: 50 #3b5998;
    border-bottom-left-radius: 50;
}

.downbtn{
    font-size:1.5rem;
    color: #0b4e96;
}

.mainy{
    width:300px;
    height:223px
}

.head1{
   
    padding:150 250;
    align-items: center;
    text-align: center;
    

}

.coler{
    color:  #0b4e96;
}

.lead{
    font-size:1.25rem;
    font-weight:300;
    
}



.github {
    background: #212121;
}

.linkedin {
    background: #0077b5;
}

.facebook {
    background: #3b5998;
}

.codechef {
    background: #55acee;
}

.hackerank, .instagram {
    background: #cb2027;
}

.googleplus {
    background: #dd4b39;
}

.googleplus:hover{
    background: #fff;
    color: #dd4b39;
    transition:0.7s
}

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#share a:hover {

    background:#d2f6fc;
    color: #0b4e96;
    
 
}
/* #0b4e96 */
#share  a {
width: 50px;
height: 50px;
display: inline-block;
margin: 8px;
border-radius: 50%;
font-size: 24px;
color: #fff;
opacity: .75;
transition: opacity .15s linear;
}

.container2{
    width: 80%;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
 
}

.container1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#about,#project,#education{
    width: 100%;
    height:auto;
   

}




#share{
    width: 100%;
    margin-left: auto;
    text-align: center;
}



.ityped{
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    text-align:center;
    
}
.ityped-cursor {
    font-size: 4.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

/* timeline start */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container1 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container1::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-left1 {
  left: 0;
}

/* Place the container to the right */
.timeline-right1 {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-left1::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-right1::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right1::after {
  left: -16px;
}

/* The actual content */
.timeline-content1 {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container1 {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container1::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left1::after, .timeline-right1::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .timeline-right1 {
  left: 0%;
  }
}
/* timeline end */

html{
    scroll-behavior: smooth;
}

</style>
<script>

  ityped.init('.ityped', {
    strings:['Computer Science Student.', 'Passionate about Programming.', 'ML and DL Enthusiast.', 'Problem Solver :)'],
    startDelay: 1500,
    loop: true,
  });

  
</script>

<style>
    body{
padding: 0px;
margin: 0px;
}

#gradient
{
width: 100%;
height: 70%;
padding: 0px;
margin: 0px;
}
</style>
<!-- <span class="ityped"></span> -->
<script>

var colors = new Array(
[121,132,238],
[171,205,253],
[86,133,169],
[45,175,230],
[1,130,153],
[1,138,159]);

var step = 0;
//color table indices for: 
// current color left
// next color left
// current color right
// next color right
var colorIndices = [0,1,2,3];

//transition speed
var gradientSpeed = 0.002;

function updateGradient()
{

if ( $===undefined ) return;

var c0_0 = colors[colorIndices[0]];
var c0_1 = colors[colorIndices[1]];
var c1_0 = colors[colorIndices[2]];
var c1_1 = colors[colorIndices[3]];

var istep = 1 - step;
var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
var color1 = "rgb("+r1+","+g1+","+b1+")";

var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
var color2 = "rgb("+r2+","+g2+","+b2+")";

$('#gradient').css({
background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

step += gradientSpeed;
if ( step >= 1 )
{
step %= 1;
colorIndices[0] = colorIndices[1];
colorIndices[2] = colorIndices[3];

//pick two new target color indices
//do not pick the same as the current one
colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

}
}

setInterval(updateGradient,10);

var glide = new Glide('.glide', {
  type: 'carousel',
  perView: 2,
  focusAt: 'center',

})

glide.mount()

AOS.init();
</script>